<!-- store_sales_form.html -->

{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Sales Plot Form</title>
    <style>
        body {
            text-align: center;
        }

        form {
            margin: auto;
            display: block;
        }
    </style>
</head>
<body>
    <h1>Store Sales Plot Form</h1>

    <form method="post" action="{{ url_for('plot_store_sales') }}">
        <label for="storeNumber">Store Number:</label>
        <input type="number" name="storeNumber" id="storeNumber" min="1" value="16" required><br>

        <label for="startDate">Start Date:</label>
        <input type="date" name="startDate" id="startDate" value="2010-02-05" required><br>

        <label for="endDate">End Date:</label>
        <input type="date" name="endDate" id="endDate" value="2012-10-26" required><br>

        <button type="submit">Generate Plot</button>
    </form>
</body>
</html>

{% endblock %}
